<section>
  {{#if admin}}
  <h2>Create New Group</h2>
  <form class="new-post-form">
    <div>
      <label for="post-title">Group Name</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="content">Group Description</label>
      <textarea id="content" name="content"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
{{/if}}
{{#if posts.length}}
<section>
  <h2>Your Groups<div id='points'></div>0<div>Points</div></h2>
  <ol>
    {{#each posts}}
    <li>
      <article class="post">
  <div class="title">
    <a href="{{content}}" target="_blank">{{title}}</a>
    <span>({{ content}})</span>
  </div>
  <div class="meta">
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>
      <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/login.js"></script>
<script src="/javascript/add-post.js"></script>